
<div style="margin-left:0%" class="row">
	<div class="container">
		<div class="project_thumb">
			<div class="item">
				<div class="cardimgcrop">
					<img src="http://payload.cargocollective.com/1/2/65848/899756/prt_256x175_1341343299.png" border="0" rel="testprt_1341343299.png" style="opacity: 1;">
				</div>
			</div>
		</div>
		<div class="project_thumb">
			<div class="item">
				<div class="cardimgcrop">
					<img src="http://payload.cargocollective.com/1/2/65848/923792/prt_256x175_1341343316.gif" border="0" rel="testprt_1341343316.gif" style="opacity: 1;">
				</div>
			</div>
		</div>
		<div class="project_thumb">
			<div class="item">
				<div class="cardimgcrop">
					<img src="http://payload.cargocollective.com/1/2/65848/923795/prt_256x175_1341343338.gif" border="0" rel="testprt_1341343338.gif" style="opacity: 1;">
				</div>
			</div>
		</div>
		<div class="project_thumb">
			<div class="item">
				<div class="cardimgcrop">
					<img src="http://payload.cargocollective.com/1/2/65848/977255/prt_256x175_1341343354.gif" border="0" rel="testprt_1341343354.gif" style="opacity: 1;">
				</div>
			</div>
		</div>
	</div>
</div>
<div style="margin-left:0%" class="row">
	<div class="container">

		<div class="project_thumb">
			<div class="item">
				<div class="cardimgcrop">
					<img src="http://payload105.cargocollective.com/1/2/65848/4409757/prt_256x175_1352849177.png" border="0" rel="testprt_1352849177.png" style="opacity: 1;">
				</div>
			</div>
		</div>
		<div class="project_thumb">
			<div class="item">
				<div class="cardimgcrop">
					<img src="http://payload105.cargocollective.com/1/2/65848/4409757/prt_256x175_1352849177.png" border="0" rel="testprt_1352849177.png" style="opacity: 1;">
				</div>
			</div>
		</div>
		<div class="project_thumb">
			<div class="item">
				<div class="cardimgcrop">
					<img src="http://payload105.cargocollective.com/1/2/65848/4409757/prt_256x175_1352849177.png" border="0" rel="testprt_1352849177.png" style="opacity: 1;">
				</div>
			</div>
		</div>
		<div class="project_thumb">
			<div class="item">
				<div class="cardimgcrop">
					<img src="http://payload105.cargocollective.com/1/2/65848/4409757/prt_256x175_1352849177.png" border="0" rel="testprt_1352849177.png" style="opacity: 1;">
				</div>
			</div>
		</div>
	</div>
</div>
<div style="margin-left:0%" class="row">
	<div class="container">
		<div class="project_thumb">
			<div class="item">
				<div class="cardimgcrop">
					<img src="http://payload105.cargocollective.com/1/2/65848/4409757/prt_256x175_1352849177.png" border="0" rel="testprt_1352849177.png" style="opacity: 1;">
				</div>
			</div>
		</div>
		<div class="project_thumb">
			<div class="item">
				<div class="cardimgcrop">
					<img src="http://payload105.cargocollective.com/1/2/65848/4409757/prt_256x175_1352849177.png" border="0" rel="testprt_1352849177.png" style="opacity: 1;">
				</div>
			</div>
		</div>
		<div class="project_thumb">
			<div class="item">
				<div class="cardimgcrop">
					<img src="http://payload105.cargocollective.com/1/2/65848/4409757/prt_256x175_1352849177.png" border="0" rel="testprt_1352849177.png" style="opacity: 1;">
				</div>
			</div>
		</div>
		<div class="project_thumb">
			<div class="item">
				<div class="cardimgcrop">
					<img src="http://payload105.cargocollective.com/1/2/65848/4409757/prt_256x175_1352849177.png" border="0" rel="testprt_1352849177.png" style="opacity: 1;">
				</div>
			</div>
		</div>
	</div>
</div>
<div style="margin-left:0%" class="row">
	<div class="container">
		<div class="project_thumb">
			<div class="item">
				<div class="cardimgcrop">
					<img src="http://payload105.cargocollective.com/1/2/65848/4409757/prt_256x175_1352849177.png" border="0" rel="testprt_1352849177.png" style="opacity: 1;">
				</div>
			</div>
		</div>
		<div class="project_thumb">
			<div class="item">
				<div class="cardimgcrop">
					<img src="http://payload105.cargocollective.com/1/2/65848/4409757/prt_256x175_1352849177.png" border="0" rel="testprt_1352849177.png" style="opacity: 1;">
				</div>
			</div>
		</div>
		<div class="project_thumb">
			<div class="item">
				<div class="cardimgcrop">
					<img src="http://payload105.cargocollective.com/1/2/65848/4409757/prt_256x175_1352849177.png" border="0" rel="testprt_1352849177.png" style="opacity: 1;">
				</div>
			</div>
		</div>
		<div class="project_thumb">
			<div class="item">
				<div class="cardimgcrop">
					<img src="http://payload105.cargocollective.com/1/2/65848/4409757/prt_256x175_1352849177.png" border="0" rel="testprt_1352849177.png" style="opacity: 1;">
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
$(function(){
	$('.item').bind({
		mouseenter: function(){
			$(this).find('img').fadeTo('fast','0.7', function(){
				//
			});
			
		},
		mouseleave: function(){
			$(this).find('img').fadeTo('fast','1', function(){
				//
			});
			
		}
	});
});

</script>