<div class="worktitle">
  <h1 align="center" >El colectivo trabaja así</h1>
</div>
<div class="container-fluid">
  <div class="row">
    <div style="width:484px; height:291px; background-image: url('/assets/collective.png'); margin-top:5%" class="span2 offset3">
    </div>
  </div>
  <div class="row">
    <br>
    <div class="span8 offset2">
      <p class="textos">
        En <strong>ColumpiARTE</strong> trabajamos en conjunto de forma profesional, dedicada y llena de amor para impulsarte a alcanzar tus sueños. Amantes de nuestro trabajo, no sólo del resultado sino del proceso completo, la organización, la parte creativa y la producción. <br>
        El arte en movimiento. 
        <br>
        <strong>¡Queremos darte el empujón que necesitas para hacerte crecer!</strong>
        <br>
      </p>
    </div>
  </div>
</div>