<div class="worktitle">
  <h1 style="margin-left:-10%">El colectivo trabaja así</h1>
</div>
<div class="container-fluid">
  <div class="row">
    <div style="margin:4em 0 4em 0; width:484px; height:291px; background-image: url('/assets/collective.png'); margin-left:20%" class="span2">
    </div>
  </div>
  <div class="row">
    <br>
    <div class="span8 offset2">
      <p class="textos">
        Stichting "Geluk zit niet in je benen" is geïnitieerd om mensen met een beperking te helpen aan mobiliteit. Zij bieden diverse oplossingen voor ondersteuning bij vervoersvoorzieningen en sportvoorzieningen.
        <br>
        Een moderne uitstraling met behoud van de vertrouwde signatuur waren het vertrekpunt voor restyling van het logo en de website. Door gebruik te maken van frisse kleuren en eigentijdse typografie heeft het logo, zoals gewenst een vriendelijke en tegelijkertijd professionele uitstraling gekregen. 
        <br>
        Dit sponsorproject is niet verder gekomen dan de tekentafel. Desalniettemin was het op persoonlijk vlak een leerzame en inspirerende ervaring.
      </p>
    </div>
  </div>
</div>