<div id="acc-menu2" style="position:relative; height: 100%; width: 100%;" class="aim">
  <a style="width: 510px; height: 100%; background-image: url(http://woodwork.nl/wp-content/uploads/2013/03/amsterdam_long1.jpg); background-color: rgb(0, 0, 0); border-bottom-width: 0px; border-right-style: solid; border-right-width: 1px; border-right-color: rgb(0, 0, 0); overflow: hidden; background-repeat: no-repeat no-repeat;"><span style="opacity: 0;">This street</span><img class="alignnone size-medium wp-image-806" title="This street" src="http://woodwork.nl/wp-content/uploads/2013/03/amsterdam_long1.jpg" alt="" style="display: none;"></a>
  <a style="width: 110px; height: 100%; background-image: url(/assets/web_design.jpg); background-color: rgb(0, 0, 0); border-bottom-width: 0px; border-right-style: solid; border-right-width: 1px; border-right-color: rgb(0, 0, 0); overflow: hidden; background-repeat: no-repeat no-repeat;"><span>Desarrollo WEB</span><img class="alignnone size-medium wp-image-803" title="Bamboo" src="/assets/web_design.jpg" alt="" width="300"  style="display: none;"></a>
  <a style="width: 110px; height: 100%; background-image: url(http://woodwork.nl/wp-content/uploads/2013/03/long.jpg); background-color: rgb(0, 0, 0); border-bottom-width: 0px; border-right-style: solid; border-right-width: 1px; border-right-color: rgb(0, 0, 0); overflow: hidden; background-repeat: no-repeat no-repeat;"><span style="opacity: 0.7;">Landscape</span><img class="alignnone size-medium wp-image-801" title="gift of light" src="http://woodwork.nl/wp-content/uploads/2013/03/long.jpg" alt="" width="241" style="display: none;"></a>
  <a style="width: 110px; height: 100%; background-image: url(http://woodwork.nl/wp-content/uploads/2012/12/wie_is_ohpen.jpg); background-color: rgb(0, 0, 0); border-bottom-width: 0px; border-right-width: 0px; overflow: hidden; background-repeat: no-repeat no-repeat;"><span style="opacity: 0.7;">Aerial</span><img class="alignnone size-medium wp-image-800" title="Aerial" src="http://woodwork.nl/wp-content/uploads/2012/12/wie_is_ohpen.jpg" alt="" width="800"  style="display: none;"></a>
    <a style="width: 510px; height: 100%; background-image: url(http://woodwork.nl/wp-content/uploads/2012/05/44.jpg); background-color: rgb(0, 0, 0); border-bottom-width: 0px; border-right-style: solid; border-right-width: 1px; border-right-color: rgb(0, 0, 0); overflow: hidden; background-repeat: no-repeat no-repeat;"><span style="opacity: 0;">This street</span><img class="alignnone size-medium wp-image-806" title="This street" src="http://woodwork.nl/wp-content/uploads/2012/05/44.jpg" alt="" style="display: none;"></a>
  <a style="width: 110px; height: 100%; background-image: url(http://woodwork.nl/wp-content/uploads/2013/03/ohpen_tvc3.jpg); background-color: rgb(0, 0, 0); border-bottom-width: 0px; border-right-style: solid; border-right-width: 1px; border-right-color: rgb(0, 0, 0); overflow: hidden; background-repeat: no-repeat no-repeat;"><span style="opacity: 0.7;">Nature</span><img class="alignnone size-medium wp-image-803" title="Bamboo" src="http://woodwork.nl/wp-content/uploads/2013/03/ohpen_tvc3.jpg" alt="" width="300"  style="display: none;"></a>
  <a style="width: 110px; height: 100%; background-image: url(http://web-argument.com/wp-content/uploads/2011/03/accordion_menu_landscape1.jpg); background-color: rgb(0, 0, 0); border-bottom-width: 0px; border-right-style: solid; border-right-width: 1px; border-right-color: rgb(0, 0, 0); overflow: hidden; background-repeat: no-repeat no-repeat;"><span style="opacity: 0.7;">Landscape</span><img class="alignnone size-medium wp-image-801" title="gift of light" src="http://web-argument.com/wp-content/uploads/2011/03/accordion_menu_landscape1.jpg" alt="" width="241" style="display: none;"></a>
  <a style="width: 110px; height: 100%; background-image: url(http://web-argument.com/wp-content/uploads/2011/03/accordion_menu_air1.jpg); background-color: rgb(0, 0, 0); border-bottom-width: 0px; border-right-width: 0px; overflow: hidden; background-repeat: no-repeat no-repeat;"><span style="opacity: 0.7;">Aerial</span><img class="alignnone size-medium wp-image-800" title="Aerial" src="http://web-argument.com/wp-content/uploads/2011/03/accordion_menu_air1.jpg" alt="" width="800"  style="display: none;"></a>
</div>



<script type="text/javascript">
  $(document).ready(function() {
  $('#acc-menu2').AccordionImageMenu({
    'border' : 1,
    'openItem':0,
    'duration': 400,
    'openDim': 625,
    'closeDim': 230,
    'fadeInTitle': false,
    'width':1700,
    'height':700
  });
});
</script>