    <!-- NAVBAR
    ================================================== -->
    <div class="navbar-wrapper">
      <!-- Wrap the .navbar in .container to center it within the absolutely positioned parent. -->
      <div class="container">

        <div class="navbar navbar-inverse">
          <div class="navbar-inner">
            <!-- Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive CSS to utilize. -->
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="brand" href="#">Columpiarte</a>
            <!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->
            <div class="nav-collapse collapse">
              <ul class="nav">
                <li class="active"><a href="#">Sobre</a></li>
                <li><a href="#item2">Servicios</a></li>
                <li><a href="#item3">Equipo</a></li>
                <li><a href="#item4">Contacto</a></li>
                <!-- Read about Bootstrap dropdowns at http://twitter.github.com/bootstrap/javascript.html#dropdowns -->
          
              </ul>
            </div><!--/.nav-collapse -->
          </div><!-- /.navbar-inner -->
        </div><!-- /.navbar -->

      </div> <!-- /.container -->
    </div><!-- /.navbar-wrapper -->



    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <img src="http://www.publicdomainpictures.net/pictures/40000/velka/old-child-swing.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Somos Comunidad Creativa.</h1>
              <p class="lead">Colectivo profesional multidiciplinario. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <div style="margin: -25% -100% 0 0%; width:484px; height:291px; float:right; background-image: url('assets/collective.png')" class="span2 offset5">
              </div>
              <a class="btn btn-large btn-primary" href="#">Sign up today</a>
            </div>
          </div>
        </div>
        
        </div>
        <div class="">
          
        </div>
      </div>
    </div><!-- /.carousel -->

    <div id="item2" style="background-image: url('assets/white_bed_sheet.png')" class="row-fluid">
      <div style="padding:2%; margin-left:15%">
        <h1>Así cambiamos el mundo de los negocios.</h1>
      </div>
      <div style="margin-left:0" class="span12">
        <div class="row-fluid">
          <div class="span4">
            <div style="display:block">
              <a href="#" class="collection-services" style="background-image: url('http://www.it-outsource.info/images/conference.gif')">
                <div class="collection-text">
                  <h3>Planeación, desarrollo y gestión de proyectos.</h3>
                </div>
              </a>
            </div>
          </div>
          <div style="margin-left:2%" class="span4">
            <div style="display:block">
              <a href="#" class="collection-services" style="background-image: url('http://negocioaz.com/wp-content/uploads/2012/08/marketing_00-2.jpg')">
                <div class="collection-text">
                  <h3>Publicidad y medios.</h3>
                </div>
              </a>
            </div>
          </div>
          <div style="margin-left:2%" class="span4">
            <div style="display:block">
              <a href="#" class="collection-services" style="background-image: url('http://www.estudioabmedia.com/gpublicidad/images/stories/papeleria%20corporativa.png')">
                <div class="collection-text">
                  <h3>Imagen corporativa.</h3>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div style="margin-left:0" class="span12">
        <div class="row-fluid">
          <div class="span4">
            <div style="display:block">
              <a href="#" class="collection-services" style="background-image: url('http://liveyourlife1pib.files.wordpress.com/2013/03/reloj.jpg')">
                <div class="collection-text">
                  <h3>Actividades promocionales y BTL.</h3>
                </div>
              </a>
            </div>
          </div>
           <div style="margin-left:2%" class="span4">
            <div style="display:block">
              <a href="#" class="collection-services" style="background-image: url('http://www.avantbiz.com/design10/wp-content/uploads/2010/10/webdesign-capitalvc.jpg')">
                <div class="collection-text">
                  <h3>Diseño Web Corporativo.</h3>
                </div>
              </a>
            </div>
          </div>
          <div style="margin-left:2%" class="span4">
            <div style="display:block">
              <a href="#" class="collection-services" style="background-image: url('http://2.bp.blogspot.com/-LcsTNRGqavk/TZQjjf5iHkI/AAAAAAAABa8/ouhmqIa3Wtk/s1600/IMG_1792.JPG')">
                <div class="collection-text">
                  <h3>Producción audiovisual y fotografía.</h3>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div id="item3" style="padding:5%; background-image: url('assets/retina_wood.png')" class="container-fluid">
     <div style="padding:1%; margin-left:15%">
        <h1>Nosotros</h1>
      </div>
      <!-- Three columns of text below the carousel -->
      <div class="row-fluid">
        <div class="span2">
          <img src="http://www.piccsy.com/investors/img/prefabs/daniel.svg"/>
          <h2> Joel</h2>
          <h2>Business</h2>
        </div>
        <div class="span2 offset1">
          <img src="http://www.piccsy.com/investors/img/prefabs/eric.svg"/>
          <h2> Ricky</h2>
          <h2>Creative</h2>
        </div>
        <div class="span2 offset1">
          <img src="http://www.piccsy.com/investors/img/prefabs/matthew.svg"/>
          <h2> Julio</h2>
          <h2>Web Developer</h2>
        </div>
        <div class="span2 offset1">
          <img src="http://www.piccsy.com/investors/img/prefabs/glenn.svg"/>
          <h2> Javier</h2>
          <h2>Video Expert</h2>
        </div>
      </div><!-- /.row -->
    </div>
    <!-- START THE FEATURETTES -->
    <!-- FOOTER -->
<div id="item4" style="margin-top:-1.7%; background-image: url('assets/white_bed_sheet.png')" class="well">
  <div class="container">
    <div class="row">
      <div class="span12">
        <div class="span2">
          <h3>Mapa del Sitio</h3>
          <br/>
          <p style="font-size:1em; color:white"><a href="" style="color:#"> Home</a></p>
          <p style="font-size:1em; color:white"><a href="" style="color:#"> </a></p>
          <p style="font-size:1em; color:white"><a href="" style="color:#"> Lista de Precios</a></p>
          <p style="font-size:1em; color:white"><a href="" style="color:#"> Nosotros</a></p>
          <p style="font-size:1em; color:white"><a href="" style="color:#"> Blog</a></p>
          <p style="font-size:1em; color:white"><a href="" style="color:#"> Contacto</a></p>
        </div>

        <div class="span3">
          <h3> Nuestro Blog </h3>
          <h5>Lorem ipsum dolor </h5>
          <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus suscipit nisl ac metus porta placerat. Donec semper. consectetur<a href="" style="color:#">Leer más</a></p>
          <h5>Lorem ipsum dolor </h5>
          <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus suscipit nisl ac metus porta placerat. Donec semper. consectetur<a href="" style="color:#">Leer más</a></p>
        </div>

        <div class="span2">
          <h3> Contactanos</h3>
          <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
          <br/>
          <p> phone: 1-(555)-555-5555 <br/>
            email: help@pueblacapital.com <br/>
          </p>
        </div>

        <div class="span3 offset1">
            <h3>Newsletter</h3>
            <p> Subscribete y recibe las ultimas noticias </p>
            <form>
                  <div class="controls">
                    <input type="text" class="input-xlarge" placeholder="email" id="email">
                  </div>
                 <button type="submit" class="btn btn-success">Enviar</button>
               
            </form>
            <h3>Conéctate con nosotros</h3>
            <button type="submit" class="btn btn-info"><img src ="assets/twitter_blanco.png" />  Twitter</button>
            <button type="submit" class="btn btn-primary"><img src ="assets/facebook_blanco.png" />  facebook</button>
          </div>
        </div>
      </div> 
    </div> 
  </div> 
</div><!-- /.container -->
 <script>
            $('a').click(function(e){
                $('html,body').scrollTo(this.hash, this.hash);
                e.preventDefault();
            });

            // not really needed
            $(window).resize(function(){
                $('.page').css({
                    fontSize: Math.max(Math.min($(window).outerWidth() / (1 * 6), parseFloat(Number.POSITIVE_INFINITY)), parseFloat(Number.NEGATIVE_INFINITY)) + 'px',
                    lineHeight: $(window).height() + 'px'
                });
            }).resize();
        </script>
