// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
    /* GLOBAL STYLES
    -------------------------------------------------- */
    /* Padding below the footer and lighter body text */

    body {
      color: #5a5a5a;
      padding-top: 0px;
      background-color: #1f1f1f;
    }

   /* CUSTOMIZE THE NAVBAR
    -------------------------------------------------- */

    /* Special class on .container surrounding .navbar, used for positioning it into place. */
    .navbar-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 10;
      margin-top: 20px;
      position: fixed;
	  overflow: hidden;
      margin-bottom: -90px; /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
    }
    .navbar-wrapper .navbar {

    }

    /* Remove border and change up box shadow for more contrast */
    .navbar .navbar-inner {
      border: 0;
      -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.25);
         -moz-box-shadow: 0 2px 10px rgba(0,0,0,.25);
              box-shadow: 0 2px 10px rgba(0,0,0,.25);
    }

    /* Downsize the brand/project name a bit */
    .navbar .brand {
      padding: 14px 20px 16px; /* Increase vertical padding to match navbar links */
      font-size: 16px;
      font-weight: bold;
      text-shadow: 0 -1px 0 rgba(0,0,0,.5);
    }
	
	li {
		line-height: 10px;
	}
    /* Navbar links: increase padding for taller navbar */
    .navbar .nav > li > a {
      padding: 15px 20px;
    }

    /* Offset the responsive button for proper vertical alignment */
    .navbar .btn-navbar {
      margin-top: 10px;
    }



    /* CUSTOMIZE THE CAROUSEL
    -------------------------------------------------- */

    /* Carousel base class */
    .carousel {
      margin-bottom: 0px;
    }

    .carousel .container {
      position: relative;
      z-index: 9;
    }

    .carousel-control {
      height: 80px;
      margin-top: 0;
      font-size: 120px;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
      background-color: transparent;
      border: 0;
      z-index: 10;
    }

    .carousel .item {
      height: 720px;
    }
    .carousel img {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100%;
      height: 720px;
    }

    .carousel-caption {
      background-color: transparent;
      position: static;
      max-width: 550px;
      padding: 0 20px;
      margin-top: 200px;
    }
    .carousel-caption h1,
    .carousel-caption .lead {
      margin: 0;
      line-height: 1.25;
      color: #fff;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
    }
    .carousel-caption .btn {
      margin-top: 10px;
    }



    /* MARKETING CONTENT
    -------------------------------------------------- */

    /* Center align the text within the three columns below the carousel */
    .marketing .span4 {
      text-align: center;
    }
    .marketing h2 {
      font-weight: normal;
    }
    .marketing .span4 p {
      margin-left: 10px;
      margin-right: 10px;
    }


    /* Featurettes
    ------------------------- */

    .featurette-divider {
      margin: 80px 0; /* Space out the Bootstrap <hr> more */
    }
    .featurette {
      padding-top: 120px; /* Vertically center images part 1: add padding above and below text. */
      overflow: hidden; /* Vertically center images part 2: clear their floats. */
    }
    .featurette-image {
      margin-top: -120px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
    }

    /* Give some space on the sides of the floated elements so text doesn't run right into it. */
    .featurette-image.pull-left {
      margin-right: 40px;
    }
    .featurette-image.pull-right {
      margin-left: 40px;
    }

    /* Thin out the marketing headings */
    .featurette-heading {
      font-size: 50px;
      font-weight: 300;
      line-height: 1;
      letter-spacing: -1px;
    }



    /* RESPONSIVE CSS
    -------------------------------------------------- */

    @media (max-width: 979px) {

      .container.navbar-wrapper {
        margin-bottom: 0;
        width: auto;
      }
      .navbar-inner {
        border-radius: 0;
        margin: -20px 0;
      }

      .carousel .item {
        height: 500px;
      }
      .carousel img {
        width: auto;
        height: 500px;
      }

      .featurette {
        height: auto;
        padding: 0;
      }
      .featurette-image.pull-left,
      .featurette-image.pull-right {
        display: block;
        float: none;
        max-width: 40%;
        margin: 0 auto 20px;
      }
    }

    .collection-services{
      float: left;
      position: relative;
      height: 0;
      width: 98%;
      margin-left: 2%;
      padding-bottom: 48%;
      margin-bottom: 2%;
      background-color: #000;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-position: center;
    }
    .collective-services{
      float: left;
      position: relative;
      height: 0;
      width: 100%;
      padding-bottom: 388%;
      margin-bottom: 2%;
      background-color: #000;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-position: center;
    }

    .collection-text{
      position: absolute;
      padding: 40px 20px 20px;
      bottom: 0;
      left: 0;
      right: 0;
      background-repeat: repeat-x;
      background-image: -webkit-linear-gradient(bottom,rgba(0,0,0,0.5) 0,rgba(0,0,0,0.3) 70%,rgba(0,0,0,0) 100%);
      background-image: -moz-linear-gradient(bottom,rgba(0,0,0,0.5) 0,rgba(0,0,0,0.3) 70%,rgba(0,0,0,0) 100%);
      background-image: -ms-linear-gradient(bottom,rgba(0,0,0,0.5) 0,rgba(0,0,0,0.3) 70%,rgba(0,0,0,0) 100%);
      background-image: -o-linear-gradient(bottom,rgba(0,0,0,0.5) 0,rgba(0,0,0,0.3) 70%,rgba(0,0,0,0) 100%);
      background-image: linear-gradient(to top,rgba(0,0,0,0.5) 0,rgba(0,0,0,0.3) 70%,rgba(0,0,0,0) 100%);

      h3{
        color: #fff;
        line-height: 1.1;
        text-shadow: 0 1px 2px rgba(0,0,0,0.5);
        font-size: 20px;
      }
    }


    @media (max-width: 767px) {

      .navbar-inner {
        margin: -20px;
      }

      .carousel {
        margin-left: -20px;
        margin-right: -20px;
      }
      .carousel .container {

      }
      .carousel .item {
        height: 300px;
      }
      .carousel img {
        height: 300px;
      }
      .carousel-caption {
        width: 65%;
        padding: 0 70px;
        margin-top: 100px;
      }
      .carousel-caption h1 {
        font-size: 30px;
      }
      .carousel-caption .lead,
      .carousel-caption .btn {
        font-size: 18px;
      }

      .marketing .span4 + .span4 {
        margin-top: 40px;
      }

      .featurette-heading {
        font-size: 30px;
      }
      .featurette .lead {
        font-size: 18px;
        line-height: 1.5;
      }

    }


header {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 270px;
  background-color: black;
  text-align: center;
  z-index: 4;
  padding-top: 100px;

  nav {
    margin-top: 220px;
    position: relative;
    ul{
      list-style: none;
      list-style-image: none;
      margin: 0;
      padding: 0;
      li {
        display: list-item;
        text-align: -webkit-match-parent;
        a{
          display: inline-block;
          padding: 10px;
          font-family: "Apercu Bold", Calibri, sans-serif;
          font-weight: normal;
          font-size: 12px;
          text-transform: uppercase;
          text-decoration: none;
          letter-spacing: 2px;
          color: rgb(221, 221, 210);
          outline: none;
        }
        a:hover{
          color: rgb(54, 159, 136);
          outline: none;
          text-decoration: none;
        }
      }
    }
  }
}

.active_link{
  color: #fff;
  outline: none;
  text-decoration: none;
  border-bottom: 1px dotted white;
}

.bar {
  display: block;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  width: 180px;
  height: 100%;
  float: left;
  color: #1f1f1f;
  background-color: #1f1f1f;
  text-decoration: none;
  text-align: center;
}

.worktitle {
  padding: 4em 1em 3em 6em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  background-color: rgb(209,217,211);
  h1{
    font-family: "Apercu Bold", Calibri, sans-serif;
    font-size-adjust: 0.508;
    font-weight: normal;
    font-style: normal;
    font-size: 1.618em;
    margin-bottom: 0.5em;
    font-size: 2.618em;
    margin-bottom: 0.5em;
  }
}

.textos{
  font-family: "Apercu Regular", Calibri, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1.4em;
  line-height: 1.618em;
  color: #333;
  padding-bottom: 10%;
}

.project_thumb{
  float: left;
  margin: 0 0px 0px 0px;
  position: relative;
  text-align: left;
  width: 246px;
}

.cardimgcrop {
border: none;
margin: 0px 0px 0px 0px;
position: relative;
min-width: 246px;
min-height: 168px;
background: #333;
}

    .aim{position:relative;overflow:hidden;width:800px; margin:0;clear:both; padding:0}
    .aim a{background-position:right center;cursor:pointer;display:block;overflow:hidden;position:relative;float:left;text-decoration:none}
    .aim a:hover, .aim a:visited{text-decoration:none}
    .aim ul{list-style:none}
    .aim li{display:block;overflow:hidden;float:left;}
    .aim a span{color:black;bottom:250px; left:10px;width:100%;display:block; padding:2px 5px 5px;position:absolute;background:#FFFFFF;font-size:14px;font-weight:bold;height:15px; line-height:18px}



.letter-container {
  border-bottom: 1px dashed rgba(0,0,0,0.3);
  border-top: 1px dashed rgba(0,0,0,0.3);
  padding: 30px;
  height: auto;
  width: auto;
  margin: 20px auto;
}
.letter-container h2 {
  text-align: center;
  font-family: 'Futura', cursive;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.letter-container h2 a {
  text-align: center;
  padding: 20px;
  text-decoration: none;
}
.letter-container h2 a span {
  font-size: 80px;
  line-height: 60px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  filter: alpha(opacity=90);
  color: #FFFFFF;
  text-decoration: none;
    opacity: 1;
    text-shadow: 0px 0px 2px #444, 1px 1px 4px rgba(0,0,0,0.7);
  -webkit-mask-image: url(/assets/mask2.png);
  -moz-mask-image: url(/assets/mask2.png);
  -o-mask-image: url(/assets/mask2.png);
  mask-image: url(/assets/mask2.png);
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  transition: all 0.3s linear;
  -webkit-animation: sharpen 0.6s linear backwards;
  -moz-animation: sharpen 0.6s linear backwards;
  -ms-animation: sharpen 0.6s linear backwards;
  animation: sharpen 0.6s linear backwards;
}
.letter-container h2 a span:hover{
  color: #3f7f75;
}
.letter-container h2 a span:nth-child(1) {
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  -ms-animation-delay: 1.2s;
  animation-delay: 1.2s;
}
.letter-container h2 a span:nth-child(2) {
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  -ms-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.letter-container h2 a span:nth-child(3) {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -ms-animation-delay: 1s;
  animation-delay: 1s;
}
.letter-container h2 a span:nth-child(4) {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  -ms-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.letter-container h2 a span:nth-child(5) {
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  -ms-animation-delay: 1.2s;
  animation-delay: 1.2s;
}
.letter-container h2 a span:nth-child(6) {
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  -ms-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.letter-container h2 a span:nth-child(7) {
  -webkit-animation-delay: 1.4s;
  -moz-animation-delay: 1.4s;
  -ms-animation-delay: 1.4s;
  animation-delay: 1.4s;
}
.letter-container h2 a span:nth-child(8) {
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  -ms-animation-delay: 0.7s;
  animation-delay: 0.7s;
}
.letter-container h2 a span:nth-child(9) {
  -webkit-animation-delay: 1.6s;
  -moz-animation-delay: 1.6s;
  -ms-animation-delay: 1.6s;
  animation-delay: 1.6s;
}
.letter-container h2 a span:nth-child(10) {
  -webkit-animation-delay: 0.9s;
  -moz-animation-delay: 0.9s;
  -ms-animation-delay: 0.9s;
  animation-delay: 0.9s;
}
.letter-container h2 a span:nth-child(11) {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -ms-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.letter-container h2 a span:nth-child(12) {
  -webkit-animation-delay: 1.1s;
  -moz-animation-delay: 1.1s;
  -ms-animation-delay: 1.1s;
  animation-delay: 1.1s;
}
.letter-container h2 a span:nth-child(13) {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  -ms-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.letter-container h2 a span:nth-child(14) {
  -webkit-animation-delay: 1.3s;
  -moz-animation-delay: 1.3s;
  -ms-animation-delay: 1.3s;
  animation-delay: 1.3s;
}
.letter-container h2 a span:nth-child(15) {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  -ms-animation-delay: 0.8s;
  animation-delay: 0.8s;
}
.letter-container h2 a span:nth-child(16) {
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  -ms-animation-delay: 1.5s;
  animation-delay: 1.5s;
}
@keyframes sharpen {
 0% {
    opacity: 0;
    text-shadow: 0px 0px 100px #444;
    color: transparent;
 }
 90% {
    opacity: 0.9;
    text-shadow: 0px 0px 10px #444;
    color: transparent;
 }
 100% {
    color: #444;
    opacity: 1;
    text-shadow: 0px 0px 2px #444, 1px 1px 4px rgba(0,0,0,0.7);
 }
}
@-moz-keyframes sharpen {
 0% {
    opacity: 0;
    text-shadow: 0px 0px 100px #444;
    color: transparent;
 }
 90% {
    opacity: 0.9;
    text-shadow: 0px 0px 10px #444;
    color: transparent;
 }
 100% {
    color: #444;
    opacity: 1;
    text-shadow: 0px 0px 2px #444, 1px 1px 4px rgba(0,0,0,0.7);
 }
}
@-webkit-keyframes sharpen {
 0% {
    opacity: 0;
    text-shadow: 0px 0px 100px #444;
    color: transparent;
 }
 90% {
    opacity: 0.9;
    text-shadow: 0px 0px 10px #444;
    color: transparent;
 }
 100% {
    color: #444;
    opacity: 1;
    text-shadow: 0px 0px 2px #444, 1px 1px 4px rgba(0,0,0,0.7);
 }
}
@-ms-keyframes sharpen {
 0% {
    opacity: 0;
    text-shadow: 0px 0px 100px #444;
    color: transparent;
 }
 90% {
    opacity: 0.9;
    text-shadow: 0px 0px 10px #444;
    color: transparent;
 }
 100% {
    color: #444;
    opacity: 1;
    text-shadow: 0px 0px 2px #444, 1px 1px 4px rgba(0,0,0,0.7);
 }
}

.content{
  width: 550px;
  padding: 25px;
  margin: 0 auto;
}
.content p{
  text-shadow: 0px 1px 1px rgba(0,0,0,0.2);
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  padding: 10px;
}

#txtlzr
  {
      font-size: 40px;
      line-height: 40px;
      width: 700px;
      height: 200px;
      margin-left: 100px;
      margin-top: 20px;
      margin-bottom: 20px;
      color: #FFFFFF;
  }
